.model-content {
    margin: 15px;
    padding: 15px;
    background-color: rgba(55, 55, 70, 0.2);
    display: flex;
    width: 350px;
    flex-direction: column;
}

/*** MODEL ***/
h3 {
    font-weight: normal;
}

.image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--text-medium);
    border-style: solid;
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

