a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navmenu {
  margin-left: 10px;
  font-size: 16px;
}

.search-margin {
  margin-right: 10px;
}

a.navbar-menu {
  margin-left: 10px;
  text-align: center;
  white-space: normal;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
